.navbar {
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 1.5em;
        font-weight: bolder;
        color: var(--primary-color);
        text-shadow: 0 1px 3px var(--shadow-color);
        & span {
            color: yellowgreen;
        }

    }

    .nav-link {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary-color);
        padding: 20px 0;
        margin-left: 1em;
        display: inline-block;
        position: relative;
        opacity: 0.75;
    }

    .nav-link:hover {
        opacity: 1;
    }

    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #031D44;
    }

    .nav-link-ltr::before {
        width: 0;
        bottom: 10px;
    }

    .nav-link-ltr:hover::before {
        width: 100%;
    }
    .nav-link-active{
         color: black;
            font-weight: bold;


    }

    .sidebar-btn{
        height: 28px;
        width:30px;
        /*background-color: greenyellow;*/
        position: relative;
        display: none;
        .bar{
            border-radius: 5px;
            height: 6px;
            width: 100%;
            background-color: var(--text-color);
            position: absolute;
            transition: transform getAnimationDuration(0.5s);
            &:nth-child(1){
                top:0;
            }
            &:nth-child(2){
                top:50%;
                transform-origin: right;
                transform: scaleX(0.8) translateY(-50%);

            }
            &:nth-child(3){
                top:100%;
                transform-origin: right;
                transform:scaleX(1.1) translateY(-100%);
            }
        }
        &.active{
            .bar{
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                transform:rotate(45deg) translateY(-25%);
            }
                &:nth-child(2){
                    transform:scaleX(0)translateY(-50%);;
                }

                &:nth-child(3){
                    transform:rotate(-45deg) translateY(-25%);;
                }


            }
        }

    }


}